.comments {
  padding-top: 5rem;
  padding-left: 10rem;
  width: fit-content;
}

.text {
  width: 50rem;
  padding: 2rem;
  font-size: large;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  margin: 2rem;
}
