<div class="comments">
  <!-- Dodavanje sadržaja unutar HTML strukture -->
  <ng-container *ngFor="let comment of userComments">
    <!-- Preporučen prikaz podataka iz vanjskih izvora -->
    <p class="text">{{ comment }}</p>

    <!--Nereporučen prikaz podataka iz vanjskih izvora -->
    <p class="text" [innerHtml]="comment"></p>
  </ng-container>
</div>
